// Footer
footer{
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0
}